body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
    background:#ccf8ff;
    background:-webkit-linear-gradient(to right#ddfafe,#c4eaff);
    background: linear-gradient(to right,#ddfafe,#c4eaff);
   
}
h4,h5{color:rgb(4, 58, 17)}
.col-md-4{
    height:460px ;
    

}
.header{
    position: relative;
    border-radius: 0.75rem;
    margin:0 auto;
    height:8rem;
    width:95%;
    left:0;
    right:0;
    top:-30px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0), 0 rgba(0,0,0,0);
    background-image:linear-gradient(to right,#35989a,#62269a);
    display:flex;
    align-items: center;
    justify-content: center;
}
.header img{
    height: 80px;
    width:140px;
    border-radius:1.5rem;
   
    
}
.card{
    position: relative;
    margin:100px auto;
    height:360px;
    border-radius: 0.75rem;
    background-color: rgb(219, 239, 255);
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0), 0 rgba(0,0,0,0);
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    height:126px;
    left:5px;
    right:5px;
    top:32%;
    border-radius: 0.75rem;
    box-shadow:6px 8px 16px 6px rgba(0,0,0,0), 0 rgba(0,0,0,0);
}

.footer{
    position:absolute;
    height:80px;
    bottom:-30px;
    left:0;
    right:0;
    border-radius:0.75rem;
    margin:0 auto;
    width:95%;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0), 0 rgba(0,0,0,0);
    background-image:linear-gradient(to left,#62269a,#35989a);
}
.text-sm-center{
    margin:20px auto;
}
h4,h5{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.5rem;
    color:#000000;
    background: rgba(144, 110, 224, 0.17);
}
.card-body img{
    height:160px;
    width:160px;
    border-radius:1rem;
}