* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
  padding-top: 160px;
  background: linear-gradient(
    to bottom right,
    rgba(70, 80, 97, 0.75) 10%,
    rgba(201, 227, 244, 0.75) 11%,
    rgba(198, 195, 195, 0.75) 16.6%,
    rgb(156, 174, 186) 37.8%,
    rgb(121, 130, 136) 48.8%,
    rgb(197, 211, 217) 53.1%,
    rgba(181, 183, 184, 0.75) 79.4%,
    rgba(59, 80, 86, 0.75) 84.3%
  ) ;
  background-size: cover;

  -o-border-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 16.6%,
    rgb(245, 245, 245) 37.8%,
    rgb(245, 245, 245) 48.8%,
    rgb(254, 254, 254) 53.1%,
    rgba(245, 245, 245, 0.75) 79.4%,
    rgba(245, 245, 245, 0.75) 84.3%
  ) !important;
  border-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.75)),
    color-stop(0%, rgba(245, 245, 245, 0.75)),
    color-stop(16.6%, rgba(245, 245, 245, 0.75)),
    color-stop(37.8%, rgb(245, 245, 245)),
    color-stop(48.8%, rgb(245, 245, 245)),
    color-stop(53.1%, rgb(254, 254, 254)),
    color-stop(79.4%, rgba(245, 245, 245, 0.75)),
    color-stop(84.3%, rgba(245, 245, 245, 0.75))
  ) !important;
  border-image: linear-gradient(
    to bottom right,
    rgba(243, 234, 234, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 16.6%,
    rgb(245, 245, 245) 37.8%,
    rgb(245, 245, 245) 48.8%,
    rgb(254, 254, 254) 53.1%,
    rgba(245, 245, 245, 0.75) 79.4%,
    rgba(245, 245, 245, 0.75) 84.3%
  ) !important;
  border-image-slice: 1 !important;
}

/* menu style*/
.navbar{
  border-radius: 2rem;
  top: 1rem;
  margin: 0 5px 0 5px;
  background-color: rgba(130, 126, 122, 0.306) !important;
  backdrop-filter: blur(5rem);
}
.navbar a:hover{
  color:#000000;
  font-weight: 600;
}
.dropdown-menu {
  background-color: rgba(45, 55, 55, 0.615);
}

.dropdown-item:hover{
  background-color:rgba(106, 112, 112, 0.614) ;
  color: aliceblue;
}
.activate-animation{
  height: 50px;
}
.pagination a:hover{
  background-color: rgb(188, 191, 196);
  color:rgb(25, 44, 61)
}
.pagination a{
  background-color: rgb(96, 93, 93) ;
  color:aliceblue;
}
.pagination .active a{
  background-color: rgb(31, 33, 35);
  color:aliceblue;

}
.pagination .active a:hover{
  background-color:  rgb(188, 191, 196);
  color:rgb(25, 44, 61);

}
.fa.fa-heart.fa-2xs::before{
  position: relative;
  top:2px;
  margin: 1px;
  padding: 0;
  color:brown
}
@media (min-width:992px){
  .dropdown:hover > .dropdown-menu{
    display: block !important;
    margin:0;
  }
}
.ui-autocomplete {
  z-index: 3000;
  background-color: rgba(130, 126, 122, 0.306) !important;
  backdrop-filter: blur(8rem);
  border-radius: 0.5rem;
}
.ui-widget-content :hover {
  background-color: rgba(22, 22, 22, 0.75) !important;
  backdrop-filter: blur(8rem);
  border-radius: 0.5rem;/* hg*i* j */
}
/* search bar animation*/
/*
 #forms1{
    width:120px; 
    padding:0 auto;
    margin:0 auto;
    transition: 1s;

  }
  #forms1:hover{
    width: 100%;
  }

/* image not found style*/
.notFound{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* nav menu animation*/
.animated-icon{
  width: 40px;
  height: 30px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  .animated-icon span {
  background: #000000;
  }
  
  .animated-icon span:nth-child(1) {
  top: 0%;
  }
  
  .animated-icon span:nth-child(2) {
  top: 40%;
  }
  
  .animated-icon span:nth-child(3) {
  top: 80%;
  }
  
  .animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  /* footer style*/
  
.footer-distributed, .contact-wrap{
	background: rgb(57, 68, 79);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100vw;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 0;
	overflow: hidden;
	margin-top: 100px;
}



/* Footer left */

.footer-distributed .footer-left{
	float: left;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links :hover {
	color:deepskyblue;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 20px;
}

.footer-distributed .footer-icons :hover{
	color:black;
	background-color: #047ef8;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 30px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea,.footer-distributed form select{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 10px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
.footer-distributed form button:hover {
	background-color: #1547c6;
	color: #ffffff;
  }

  .form-select {
	margin-bottom: 15px;
	color:#5c666b;
	outline-color: #00BCD4;
	border: 1px solid #00BCD4;
	width:400px;
	
  }
  /* modal style*/
  .modal-content{
    background-color: rgba(244, 243, 242, 0.489) !important;
    backdrop-filter: blur(5rem);
    border-radius: 1rem;
  }




  

  
  .accordion-button:not(.collapsed){
    color:inherit;
    background: rgb(0, 0, 0);
    color:aliceblue;
}
.accordion-button{
    color:inherit;
    background: rgb(23, 29, 36);
    color:aliceblue;
}
.accordion-collapse:not(.collapsed){
    color:inherit;
    background: rgb(57, 68, 79);
    color:aliceblue;
    
}
.accordion-collapse:not(.collapsed) a,.accordion-collapse:not(.collapsed) td{
  color:inherit;
  background: rgba(57, 68, 79, 0.371);
  color:aliceblue !important;
  
}