body {
    padding-top: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
h4,h5{color:rgb(4, 58, 17)}
.col-md-4{
    height:460px ;
    

}
.header{
    position: relative;
    border-radius: 0.75rem;
    margin:0 auto;
    height:8rem;
    width:95%;
    left:0;
    right:0;
    top:-30px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0), 0 rgba(0,0,0,0);
    background-image:linear-gradient(to right,#35989a,#62269a);
    display:flex;
    align-items: center;
    justify-content: center;
}
.header img{
    height: 80px;
    width:140px;
    border-radius:1.5rem;
   
    
}
.card{
    position: relative;
    margin:100px auto;
    height:360px;
    border-radius: 0.75rem;
    background-color: rgb(219, 239, 255);
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0), 0 rgba(0,0,0,0);
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    height:140px;
    left:5px;
    right:5px;
    top:32%;
    border-radius: 0.75rem;
    box-shadow:6px 8px 16px 6px rgba(0,0,0,0), 0 rgba(0,0,0,0);
}

.footer{
    position:absolute;
    height:80px;
    bottom:-30px;
    left:0;
    right:0;
    border-radius:0.75rem;
    margin:0 auto;
    width:95%;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0), 0 rgba(0,0,0,0);
    background-image:linear-gradient(to left,#62269a,#35989a);
}
.text-sm-center{
    margin:20px auto;
}
h4,h5{
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.5rem;
    color:#000000;
    white-space: pre;
    
}
.card-body img{
    height:160px;
    width:160px;
    border-radius:1rem;
}
slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out ;
}

.left-slide > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slide h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.right-slide{
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}


button{
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover{
    color: #222;
}

button:focus{
    outline: none;
}

.slider-container .action-buttons button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}